body{
    background-image: url("/images/Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    
}
h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color:darkolivegreen;
}
label{
    padding-right: 30px;
    font-family: cursive;
    font-size: 15px;
}
.card{
    background-image: url("/images/Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}